@CHARSET "UTF-8";
html {
  width: 100%;
  height: 100%;
}

body {
  background: -webkit-linear-gradient(45deg, rgba(248, 248, 255, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
  background: linear-gradient(45deg, rgba(255,255,255, 0.8) 0%, rgba(255,255,255, 0.4) 100%);
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header {
    display: flex;
    justify-content: space-between;
    background-color:  black;
      height: 5%;
      color: white;
}


#header > div {
    width: 330%;
    height: 5%;

}

#title{
  margin: 4px auto;
  font-size: 14px;
  color: white;
  float right
}
#login{
  margin: 3px auto;
  font-size: 12px;
  color: white;
  margin-right: 10px
}
#signup{
  margin: 3px auto;
  font-size: 12px;
  color: white;
  margin-right: 10px
}
#search{
  margin: 3px auto;
  width: inherit;;
  margin-right: 10px
}
.box .right {
  float: right;
  width: 400px;
  margin-right: 50px;
}
.box .left {
  float: left;
  width: calc(100% - 450px);
  /*background: lightgreen;*/
}
.form-panel postBlog {
  position: relative;
  top: 10%;
  left: 10px;
  display: none;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

.formques {
  position: relative;
  top: 220px;
  left: 0px;
  background: rgba(255,250,205, 0.8);
  width: 350px;
  height: 300px;
  overflow: hidden;
  z-index :-15;


}
.queslabel {
  background: rgba(255,250,205, 0.8);
  z-index :-5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 20px;
  font-size: 20px;
   LINE-HEIGHT:20px;

}
.queslabel h4 {
  line-height: 3;
  FONT-FAMILY:serif;
  font-weight: bold;
}
.queslabel pre {

  display: block;
  margin: 0 0 10px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 800;
  line-height: 2;
  FONT-FAMILY:Arial,Helvetica,sans-serif;
  letter-spacing: .2em;
}
.form {
  position: relative;
  top: 70px;
  left: 50px;
  background: #FFFFFF;
  width: 800px;
  overflow: hidden;
  z-index :15;
    float left;
}


.form-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 20px;
  color: blue;
  font-size: 16px;
}
.form-group:last-child {
  margin: 0;
}
.form-group label {
  margin: 0 0 5px;
  color: rgba(220,20,60, 0.6);
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.form-group #posttitle{
  outline: none;
  display: block;
  background: rgba(248,248,255, 0.1);
  width: 500px;
  border: 1;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  color: rgba(0, 0, 0, 0.6);
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  height: 30px;
    line-height: inherit;
}
.form-group #postdesc {
  outline: none;
  display: block;
  background: rgba(248,248,255, 0.1);
  border: 1;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  color: rgba(0, 0, 0, 0.6);
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form-group input:focus {
  color: rgba(0, 0, 0, 0.8);
}

.form-group button {
  outline: none;
  background: #DC143C;
  width: 20%;
  height: 30px;
  border: 0;
  border-radius: 4px;
  padding: 8px 10px;
  color: #FFFFFF;
  font-family: inherit;
  font-size: 8px;
  font-weight:700;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
}

.form-group .form-remember {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
}
.form-group .form-remember input[type='checkbox'] {
  display: inline-block;
  width: auto;
  margin: 0 10px 0 0;
}
.form-panel {
  padding: 60px calc(5% + 60px) 60px 60px;
  box-sizing: border-box;
}

.form-header {
  margin: 0 0 40px;
}
.form-header h1 {
  padding: 4px 0;
  color: #DC143C;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.form-textonly {
  position: relative;
  top: 70px;
  left: 600px;
  background: #FFFFFF;
  width: 400px;
  overflow: hidden;
  z-index :15;
}

.pen-footer a {
  color: #4285F4;
  font-size: 12px;
  text-decoration: none;
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.pen-footer{
  z-index: 15;
  position: relative;
  left : 50px;
  top :100px;
}
  /*position: relative;*/
  background: #FFFFFF;
  width: 400px;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 10px auto 10px;
  overflow: hidden;
  display: flex;
    align-items: center;
    justify-content: center;
}
.pen-footer a .material-icons {
  width: 12px;
  font-size: 12px;
  color: #000000;
}
